In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

C:\Users\Arun J\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py:14: UserWarning: A NumPy version >=1.22.4 and <2.3.0 is required for this version of SciPy (detected version 2.3.3)
  from scipy.sparse import csr_matrix, issparse

In [2]:
df = pd.read_csv('ShopEase_Sales_Inventory_2024.csv')

In [3]:
df.isnull().sum()

Date                   0
Store_ID               0
City                   0
Product_ID             0
Product_Category       0
Units_Sold             0
Unit_Price             0
Total_Sales            0
Inventory_Available    0
Discount (%)           0
Promotion              0
Holiday                0
Temperature            0
dtype: int64

In [4]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['date', 'store_id', 'city', 'product_id', 'product_category',
       'units_sold', 'unit_price', 'total_sales', 'inventory_available',
       'discount_(%)', 'promotion', 'holiday', 'temperature'],
      dtype='object')

In [5]:
labels = ['low','medium','high']
df['inventory_used'] = pd.qcut(df['inventory_available'], q=3, labels=labels)

In [6]:
df

,date,store_id,city,product_id,product_category,units_sold,unit_price,total_sales,inventory_available,discount_(%),promotion,holiday,temperature,inventory_used
0,2024-01-01,S001,Bangalore,P013,Home Decor,23,396.44,9118.12,264,10,Yes,No,21.0,medium
1,2024-01-01,S001,Bangalore,P015,Sports,26,1445.34,37578.84,199,20,Yes,No,21.0,medium
2,2024-01-01,S001,Bangalore,P012,Grocery,22,113.43,2495.46,394,10,No,No,25.2,high
3,2024-01-01,S001,Bangalore,P001,Electronics,21,655.07,13756.47,320,20,Yes,No,28.2,medium
4,2024-01-01,S001,Bangalore,P007,Electronics,24,1077.05,25849.20,369,10,Yes,No,28.4,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36595,2024-12-31,S010,Chennai,P011,Electronics,19,808.26,15356.94,363,5,Yes,No,33.1,high
36596,2024-12-31,S010,Chennai,P015,Electronics,26,1649.27,42881.02,207,5,Yes,No,23.7,medium
36597,2024-12-31,S010,Chennai,P018,Home Decor,16,1849.39,29590.24,202,10,Yes,Yes,22.7,medium
36598,2024-12-31,S010,Chennai,P010,Sports,25,1359.91,33997.75,437,10,No,No,37.6,high
36599,2024-12-31,S010,Chennai,P004,Sports,24,1795.92,43102.08,68,15,Yes,Yes,29.2,low

In [7]:
df[['inventory_used','inventory_available']].head(10)

  inventory_used  inventory_available
0         medium                  264
1         medium                  199
2           high                  394
3         medium                  320
4           high                  369
5            low                   63
6           high                  416
7            low                  130
8            low                  155
9           high                  400

In [8]:
labels = ['Summer','Winter','Spring','Autumn']

df['date'] = pd.to_datetime(df['date'])

def categorize_season(date):
    month = date.month
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'

df['seasons'] = df['date'].apply(categorize_season)

In [9]:
df[['seasons','date']].tail(1000)

      seasons       date
35600  Winter 2024-12-22
35601  Winter 2024-12-22
35602  Winter 2024-12-22
35603  Winter 2024-12-22
35604  Winter 2024-12-22
...       ...        ...
36595  Winter 2024-12-31
36596  Winter 2024-12-31
36597  Winter 2024-12-31
36598  Winter 2024-12-31
36599  Winter 2024-12-31

[1000 rows x 2 columns]

In [10]:
df

,date,store_id,city,product_id,product_category,units_sold,unit_price,total_sales,inventory_available,discount_(%),promotion,holiday,temperature,inventory_used,seasons
0,2024-01-01,S001,Bangalore,P013,Home Decor,23,396.44,9118.12,264,10,Yes,No,21.0,medium,Winter
1,2024-01-01,S001,Bangalore,P015,Sports,26,1445.34,37578.84,199,20,Yes,No,21.0,medium,Winter
2,2024-01-01,S001,Bangalore,P012,Grocery,22,113.43,2495.46,394,10,No,No,25.2,high,Winter
3,2024-01-01,S001,Bangalore,P001,Electronics,21,655.07,13756.47,320,20,Yes,No,28.2,medium,Winter
4,2024-01-01,S001,Bangalore,P007,Electronics,24,1077.05,25849.20,369,10,Yes,No,28.4,high,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36595,2024-12-31,S010,Chennai,P011,Electronics,19,808.26,15356.94,363,5,Yes,No,33.1,high,Winter
36596,2024-12-31,S010,Chennai,P015,Electronics,26,1649.27,42881.02,207,5,Yes,No,23.7,medium,Winter
36597,2024-12-31,S010,Chennai,P018,Home Decor,16,1849.39,29590.24,202,10,Yes,Yes,22.7,medium,Winter
36598,2024-12-31,S010,Chennai,P010,Sports,25,1359.91,33997.75,437,10,No,No,37.6,high,Winter
36599,2024-12-31,S010,Chennai,P004,Sports,24,1795.92,43102.08,68,15,Yes,Yes,29.2,low,Winter

In [12]:
df.columns

Index(['date', 'store_id', 'city', 'product_id', 'product_category',
       'units_sold', 'unit_price', 'total_sales', 'inventory_available',
       'discount_(%)', 'promotion', 'holiday', 'temperature', 'inventory_used',
       'seasons'],
      dtype='object')

In [11]:
!pip install "mysql-connector-python==8.3.0" --force-reinstall
!pip install "SQLAlchemy==2.0.25" --force-reinstall

Collecting mysql-connector-python==8.3.0
  Using cached mysql_connector_python-8.3.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Using cached mysql_connector_python-8.3.0-cp312-cp312-win_amd64.whl (15.4 MB)
Installing collected packages: mysql-connector-python
  Attempting uninstall: mysql-connector-python
    Found existing installation: mysql-connector-python 9.5.0
    Uninstalling mysql-connector-python-9.5.0:
      Successfully uninstalled mysql-connector-python-9.5.0
Successfully installed mysql-connector-python-8.3.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting SQLAlchemy==2.0.25

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gradio 4.36.1 requires pillow<11.0,>=8.0, but you have pillow 11.3.0 which is incompatible.
langchain 0.2.1 requires numpy<2,>=1, but you have numpy 2.3.3 which is incompatible.
langchain-community 0.2.1 requires numpy<2,>=1, but you have numpy 2.3.3 which is incompatible.
optimum 1.20.0 requires transformers[sentencepiece]<4.42.0,>=4.26.0, but you have transformers 4.53.2 which is incompatible.
tensorflow-intel 2.16.1 requires numpy<2.0.0,>=1.26.0; python_version >= "3.12", but you have numpy 2.3.3 which is incompatible.
tensorflow-intel 2.16.1 requires protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3, but you have protobuf 5.29.5 which is incompatible.
torchaudio 2.3.0 requires torch==2.3.0, but you have torch 2.8.0 which is incompatible.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading SQLAlchemy-2.0.25-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting typing-extensions>=4.6.0 (from SQLAlchemy==2.0.25)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Collecting greenlet!=0.4.17 (from SQLAlchemy==2.0.25)
  Using cached greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Downloading SQLAlchemy-2.0.25-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 14.4 MB/s  0:00:00
Using cached greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, greenlet, SQLAlchemy

  Attempting uninstall: typing-extensions

    Found existing installation: typing_extensions 4.12.0

    Uninstalling typing_extensions-4.12.0:

   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
      Successfully uninstalled typing_extensions-4.12.0
   ---------------------------------------- 0/3 [typing-extensions]
   ---------------------------------------- 0/3 [typing-extensions]
  Attempting uninstall: greenlet
   ---------------------------------------- 0/3 [typing-extensions]
    Found existing installation: greenlet 3.0.3
   ---------------------------------------- 0/3 [typing-extensions]
    Uninstalling greenlet-3.0.3:
   ---------------------------------------- 0/3 [typing-extensions]
   ------------- -------------------------- 1/3 [greenlet]
      Successfully uninstalled greenlet-3.0.3
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
  Attempting uninstall: SQLAlchemy
   ------------- -------------------------- 1/3 [greenlet]
    Found existing installation: SQLAlchemy 2.0.44
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [SQLAlchemy]
    Uninstalling SQLAlchemy-2.0.44:
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
      Successfully uninstalled SQLAlchemy-2.0.44
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   -------------------------- ------------- 2/3 [SQLAlchemy]
   ---------------------------------------- 3/3 [SQLAlchemy]

Successfully installed SQLAlchemy-2.0.25 greenlet-3.2.4 typing-extensions-4.15.0

In [13]:

from sqlalchemy import create_engine


username = "root"           # Your MySQL username
password = "adithyaarun28"  # Your MySQL password
host = "localhost"          # Or use your host IP
port = "3306"               # Default MySQL port
database = "shopeasy_updated"  # Your database name

# 3️⃣ Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")
try:
    engine = create_engine("mysql+mysqlconnector://root:adithyaarun28@localhost:3306/shopeasy_updated")
    with engine.connect() as conn:
        print("✅ Connection successful!")
except Exception as e:
    print("❌ Connection failed:", e)

# 4️⃣ Export DataFrame to MySQL
df.to_sql(
    name='mytable',   # Change this to your table name
    con=engine,
    if_exists='replace',      # Use 'append' if table already exists and you just want to add data
    index=False
)

print("✅ Data successfully exported to MySQL!")

✅ Connection successful!
✅ Data successfully exported to MySQL!